.banner {
    background-image: url(../img/img/artesanias/Bannerfondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 380px;
    width: 100%;
}