.traslate:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.traslate {
    transition: all 2s;
}

.rotate {
    transition: all 2s;

    &:hover {
        transform: rotate(360deg);
    }
}